In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
%matplotlib inline 
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r"C:\Users\User\Documents\DATA SCIENCE PROJECT\teen_phone_addiction_dataset.csv")

In [3]:
data.head(5)

,ID,Name,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,...,Screen_Time_Before_Bed,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level
0,1,Shannon Francis,13,Female,Hansonfort,9th,4.0,6.1,78,5,...,1.4,86,19,3.6,1.7,1.2,Browsing,4,8.7,10.0
1,2,Scott Rodriguez,17,Female,Theodorefort,7th,5.5,6.5,70,5,...,0.9,96,9,1.1,4.0,1.8,Browsing,2,5.3,10.0
2,3,Adrian Knox,13,Other,Lindseystad,11th,5.8,5.5,93,8,...,0.5,137,8,0.3,1.5,0.4,Education,6,5.7,9.2
3,4,Brittany Hamilton,18,Female,West Anthony,12th,3.1,3.9,78,8,...,1.4,128,7,3.1,1.6,0.8,Social Media,8,3.0,9.8
4,5,Steven Smith,14,Other,Port Lindsaystad,9th,2.5,6.7,56,4,...,1.0,96,20,2.6,0.9,1.1,Gaming,10,3.7,8.6

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      3000 non-null   int64
 1   Name                    3000 non-null   object
 2   Age                     3000 non-null   int64
 3   Gender                  3000 non-null   object
 4   Location                3000 non-null   object
 5   School_Grade            3000 non-null   object
 6   Daily_Usage_Hours       3000 non-null   float64
 7   Sleep_Hours             3000 non-null   float64
 8   Academic_Performance    3000 non-null   int64
 9   Social_Interactions     3000 non-null   int64
 10  Exercise_Hours          3000 non-null   float64
 11  Anxiety_Level           3000 non-null   int64
 12  Depression_Level        3000 non-null   int64
 13  Self_Esteem             3000 non-null   int64
 14  Parental_Control        3000 non-null   int64
 15  Screen_Time_Before_Bed  3000 non-null   float64
 16  Phone_Checks_Per_Day    3000 non-null   int64
 17  Apps_Used_Daily         3000 non-null   int64
 18  Time_on_Social_Media    3000 non-null   float64
 19  Time_on_Gaming          3000 non-null   float64
 20  Time_on_Education       3000 non-null   float64
 21  Phone_Usage_Purpose     3000 non-null   object
 22  Family_Communication    3000 non-null   int64
 23  Weekend_Usage_Hours     3000 non-null   float64
 24  Addiction_Level         3000 non-null   float64
dtypes: float64(9), int64(11), object(5)
memory usage: 586.1+ KB

In [5]:
data.shape

(3000, 25)

In [6]:
data.isnull().sum()

ID                        0
Name                      0
Age                       0
Gender                    0
Location                  0
School_Grade              0
Daily_Usage_Hours         0
Sleep_Hours               0
Academic_Performance      0
Social_Interactions       0
Exercise_Hours            0
Anxiety_Level             0
Depression_Level          0
Self_Esteem               0
Parental_Control          0
Screen_Time_Before_Bed    0
Phone_Checks_Per_Day      0
Apps_Used_Daily           0
Time_on_Social_Media      0
Time_on_Gaming            0
Time_on_Education         0
Phone_Usage_Purpose       0
Family_Communication      0
Weekend_Usage_Hours       0
Addiction_Level           0
dtype: int64

In [7]:
data.describe()

,ID,Age,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,Exercise_Hours,Anxiety_Level,Depression_Level,Self_Esteem,Parental_Control,Screen_Time_Before_Bed,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Family_Communication,Weekend_Usage_Hours,Addiction_Level
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,1500.500000,15.969667,5.020667,6.489767,74.947333,5.097667,1.040667,5.590000,5.460333,5.546333,0.507333,1.006733,83.093000,12.609333,2.499233,1.525267,1.016333,5.459667,6.015100,8.881900
std,866.169729,1.989489,1.956501,1.490713,14.684156,3.139333,0.734620,2.890678,2.871557,2.860754,0.500030,0.492878,37.747044,4.611486,0.988201,0.932701,0.648341,2.864572,2.014776,1.609598
min,1.000000,13.000000,0.000000,3.000000,50.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,20.000000,5.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
25%,750.750000,14.000000,3.700000,5.500000,62.000000,2.000000,0.500000,3.000000,3.000000,3.000000,0.000000,0.700000,51.000000,9.000000,1.800000,0.800000,0.500000,3.000000,4.700000,8.000000
50%,1500.500000,16.000000,5.000000,6.500000,75.000000,5.000000,1.000000,6.000000,5.000000,6.000000,1.000000,1.000000,82.000000,13.000000,2.500000,1.500000,1.000000,5.000000,6.000000,10.000000
75%,2250.250000,18.000000,6.400000,7.500000,88.000000,8.000000,1.500000,8.000000,8.000000,8.000000,1.000000,1.400000,115.250000,17.000000,3.200000,2.200000,1.500000,8.000000,7.400000,10.000000
max,3000.000000,19.000000,11.500000,10.000000,100.000000,10.000000,4.000000,10.000000,10.000000,10.000000,1.000000,2.600000,150.000000,20.000000,5.000000,4.000000,3.000000,10.000000,14.000000,10.000000

In [8]:
data.columns

Index(['ID', 'Name', 'Age', 'Gender', 'Location', 'School_Grade',
       'Daily_Usage_Hours', 'Sleep_Hours', 'Academic_Performance',
       'Social_Interactions', 'Exercise_Hours', 'Anxiety_Level',
       'Depression_Level', 'Self_Esteem', 'Parental_Control',
       'Screen_Time_Before_Bed', 'Phone_Checks_Per_Day', 'Apps_Used_Daily',
       'Time_on_Social_Media', 'Time_on_Gaming', 'Time_on_Education',
       'Phone_Usage_Purpose', 'Family_Communication', 'Weekend_Usage_Hours',
       'Addiction_Level'],
      dtype='object')

In [9]:
data["Gender"].value_counts()

Gender
Male      1016
Female    1007
Other      977
Name: count, dtype: int64

In [12]:
data.duplicated().sum()

0

In [15]:
data.isna().sum()

ID                        0
Name                      0
Age                       0
Gender                    0
Location                  0
School_Grade              0
Daily_Usage_Hours         0
Sleep_Hours               0
Academic_Performance      0
Social_Interactions       0
Exercise_Hours            0
Anxiety_Level             0
Depression_Level          0
Self_Esteem               0
Parental_Control          0
Screen_Time_Before_Bed    0
Phone_Checks_Per_Day      0
Apps_Used_Daily           0
Time_on_Social_Media      0
Time_on_Gaming            0
Time_on_Education         0
Phone_Usage_Purpose       0
Family_Communication      0
Weekend_Usage_Hours       0
Addiction_Level           0
dtype: int64

In [18]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,3000.0,1500.500000,866.169729,1.0,750.75,1500.5,2250.25,3000.0
Age,3000.0,15.969667,1.989489,13.0,14.00,16.0,18.00,19.0
Daily_Usage_Hours,3000.0,5.020667,1.956501,0.0,3.70,5.0,6.40,11.5
Sleep_Hours,3000.0,6.489767,1.490713,3.0,5.50,6.5,7.50,10.0
Academic_Performance,3000.0,74.947333,14.684156,50.0,62.00,75.0,88.00,100.0
Social_Interactions,3000.0,5.097667,3.139333,0.0,2.00,5.0,8.00,10.0
Exercise_Hours,3000.0,1.040667,0.734620,0.0,0.50,1.0,1.50,4.0
Anxiety_Level,3000.0,5.590000,2.890678,1.0,3.00,6.0,8.00,10.0
Depression_Level,3000.0,5.460333,2.871557,1.0,3.00,5.0,8.00,10.0
Self_Esteem,3000.0,5.546333,2.860754,1.0,3.00,6.0,8.00,10.0
Parental_Control,3000.0,0.507333,0.500030,0.0,0.00,1.0,1.00,1.0
Screen_Time_Before_Bed,3000.0,1.006733,0.492878,0.0,0.70,1.0,1.40,2.6
Phone_Checks_Per_Day,3000.0,83.093000,37.747044,20.0,51.00,82.0,115.25,150.0
Apps_Used_Daily,3000.0,12.609333,4.611486,5.0,9.00,13.0,17.00,20.0
Time_on_Social_Media,3000.0,2.499233,0.988201,0.0,1.80,2.5,3.20,5.0
Time_on_Gaming,3000.0,1.525267,0.932701,0.0,0.80,1.5,2.20,4.0
Time_on_Education,3000.0,1.016333,0.648341,0.0,0.50,1.0,1.50,3.0
Family_Communication,3000.0,5.459667,2.864572,1.0,3.00,5.0,8.00,10.0
Weekend_Usage_Hours,3000.0,6.015100,2.014776,0.0,4.70,6.0,7.40,14.0
Addiction_Level,3000.0,8.881900,1.609598,1.0,8.00,10.0,10.00,10.0

In [19]:
data.describe(include = "object")

                 Name Gender       Location School_Grade Phone_Usage_Purpose
count            3000   3000           3000         3000                3000
unique           2933      3           2726            6                   5
top     Michael Brown   Male  North Michael         12th            Browsing
freq                3   1016              6          529                 627

In [20]:
data["Name"].duplicated().sum()

67

In [21]:
# since Names have 67 duplicates, lets check the duplicates in the names
duplicates = data[data["Name"].duplicated(keep=False)]
print(duplicates)

        ID               Name  Age  Gender         Location School_Grade  \
20      21   Michael Williams   15  Female    Margaretmouth         12th
47      48      James Sanchez   19   Other        Adamsside         11th
77      78       Joshua Moore   19   Other     Gonzalezland          7th
80      81  Christopher Smith   19    Male   Lake Susanport         11th
89      90    Richard Nichols   19   Other  East Andrewport         12th
...    ...                ...  ...     ...              ...          ...
2884  2885    Jennifer Wilson   18    Male         Huntview          8th
2888  2889     Jonathan Smith   19   Other       Dianashire         10th
2904  2905     Michael Parker   15    Male      West Robert         10th
2958  2959       Steven Brown   13  Female    Margaretville         10th
2980  2981    Gregory Johnson   19   Other         Lake Amy          7th

      Daily_Usage_Hours  Sleep_Hours  Academic_Performance  \
20                  3.0          5.1                    83
47                  7.1          7.1                    67
77                  5.1          7.0                    64
80                  4.3          4.3                    91
89                  4.0          7.4                    83
...                 ...          ...                   ...
2884                6.3          6.1                    82
2888                5.8          6.3                    78
2904                6.9          7.9                    50
2958                9.3          4.8                    73
2980                4.3          5.5                    52

      Social_Interactions  ...  Screen_Time_Before_Bed  Phone_Checks_Per_Day  \
20                      4  ...                     1.5                    58
47                      2  ...                     2.6                   119
77                      4  ...                     1.7                   140
80                      6  ...                     0.9                    98
89                      3  ...                     0.6                    55
...                   ...  ...                     ...                   ...
2884                    8  ...                     0.8                   125
2888                    6  ...                     1.2                    63
2904                    5  ...                     0.8                    55
2958                    0  ...                     1.5                   114
2980                    2  ...                     0.7                    68

      Apps_Used_Daily  Time_on_Social_Media  Time_on_Gaming  \
20                  6                   1.7             1.7
47                 16                   2.8             2.4
77                  5                   0.5             1.7
80                  7                   2.2             0.6
89                 18                   4.1             0.8
...               ...                   ...             ...
2884                5                   3.0             3.1
2888               20                   5.0             1.8
2904               19                   2.9             0.0
2958                8                   2.6             2.0
2980               18                   2.5             1.3

      Time_on_Education  Phone_Usage_Purpose  Family_Communication  \
20                  2.0         Social Media                     8
47                  0.0               Gaming                     4
77                  0.9               Gaming                     2
80                  0.3         Social Media                     8
89                  0.0               Gaming                     3
...                 ...                  ...                   ...
2884                0.5            Education                     9
2888                1.6            Education                     2
2904                1.9         Social Media                     6
2958                1.5             Browsing                     1
2980                1.5               Gaming                     2

      Weekend_Usage_Hours  Addiction_Level
20                    6.7              6.2
47                    5.3             10.0
77                    7.7              7.6
80                    5.2              8.3
89                    7.4              9.9
...                   ...              ...
2884                  4.0             10.0
2888                  4.6             10.0
2904                  6.0             10.0
2958                  6.3             10.0
2980                  4.8             10.0

[129 rows x 25 columns]

In [24]:
# List of duplicated names
duplicated_names = data[data["Name"].duplicated(keep=False)]["Name"].unique()

# Display the result
print(duplicated_names)

['Michael Williams' 'James Sanchez' 'Joshua Moore' 'Christopher Smith'
 'Richard Nichols' 'Michael Garcia' 'Michael Parker' 'Christopher Juarez'
 'Ronald Davis' 'Marissa Smith' 'Jason Shaw' 'David Williams' 'John Kim'
 'Christopher Hamilton' 'Katherine Williams' 'Michael Bell' 'Jeremy Hayes'
 'Laura Smith' 'Sarah Smith' 'Jennifer Anderson' 'Jessica Stevens'
 'Annette Rodriguez' 'Megan Sullivan' 'John Garcia' 'Stephanie Diaz'
 'Christopher Miller' 'Anthony Allen' 'Pamela Johnson' 'Matthew Smith'
 'Jennifer Wilson' 'Michael Young' 'Adam Young' 'Michael Johnson'
 'James West' 'Richard Smith' 'Timothy Smith' 'Michael Lowe'
 'Andrea Martinez' 'John Thomas' 'Mary Jones' 'Angela Duncan'
 'Benjamin Holmes' 'Jonathan Smith' 'Michael Brown' 'Gina Miller'
 'Elizabeth Adams' 'David Hill' 'Gregory Johnson' 'Jessica Lewis'
 'Melissa Williams' 'Raymond Lewis' 'Jennifer Brown' 'Gregory Jones'
 'Joshua Cox' 'Elizabeth Clark' 'Joseph Smith' 'James Jones'
 'Jeremy Martin' 'Heather Bailey' 'Sara Johnson' 'Amanda Lee'
 'Steven Brown']

In [25]:
# Count how many times each name appears
name_counts = data["Name"].value_counts()

# Filter only names that appear more than once
duplicate_name_counts = name_counts[name_counts > 1]

print(duplicate_name_counts)

Name
Michael Brown       3
Richard Smith       3
David Williams      3
Michael Garcia      3
Gregory Johnson     3
                   ..
Benjamin Holmes     2
Matthew Smith       2
Michael Williams    2
Jeremy Martin       2
Jessica Lewis       2
Name: count, Length: 62, dtype: int64

In [26]:
# Filter rows where Name is "John Smith"
Michael_Brown_duplicates = data[data["Name"] == "Michael Brown"]

# Display the results
print(Michael_Brown_duplicates)

        ID           Name  Age  Gender        Location School_Grade  \
1219  1220  Michael Brown   17  Female  East Ryanhaven          8th
2594  2595  Michael Brown   14  Female      New Donald          8th
2862  2863  Michael Brown   19  Female    Jonathanstad         11th

      Daily_Usage_Hours  Sleep_Hours  Academic_Performance  \
1219                4.0          5.5                    76
2594                2.2          8.4                    77
2862                5.7          7.9                    93

      Social_Interactions  ...  Screen_Time_Before_Bed  Phone_Checks_Per_Day  \
1219                   10  ...                     1.3                   114
2594                    2  ...                     0.0                    81
2862                    0  ...                     1.7                    87

      Apps_Used_Daily  Time_on_Social_Media  Time_on_Gaming  \
1219               11                   1.8             0.9
2594               13                   1.2             0.4
2862                8                   1.4             2.5

      Time_on_Education  Phone_Usage_Purpose  Family_Communication  \
1219                1.9                Other                     7
2594                0.7             Browsing                     4
2862                1.8               Gaming                     1

      Weekend_Usage_Hours  Addiction_Level
1219                  2.7              8.4
2594                  6.8              3.8
2862                  7.3              9.0

[3 rows x 25 columns]

In [27]:


# Step 1: Get duplicated names
duplicated_names = data["Name"][data["Name"].duplicated(keep=False)].unique()

# Step 2: Filter rows with duplicated names
duplicates_df = data[data["Name"].isin(duplicated_names)]

# Step 3: Prepare empty list to collect aggregated rows
aggregated_rows = []

# Step 4: Loop through each duplicated name
for name in duplicated_names:
    group = duplicates_df[duplicates_df["Name"] == name]
    aggregated_row = {"Name": name}
    
    for col in data.columns:
        if col == "Name":
            continue
        if pd.api.types.is_numeric_dtype(data[col]):
            # Average for numeric columns
            aggregated_row[col] = group[col].mean()
        else:
            # Pick the first (or random) for non-numeric columns
            aggregated_row[col] = group[col].iloc[0]  # or np.random.choice(group[col].dropna())
    
    aggregated_rows.append(aggregated_row)

# Step 5: Convert list of dicts to DataFrame
aggregated_duplicates = pd.DataFrame(aggregated_rows)

# Display result
print(aggregated_duplicates)

                 Name      ID   Age  Gender         Location School_Grade  \
0    Michael Williams   145.5  16.0  Female    Margaretmouth         12th
1       James Sanchez   527.0  16.5   Other        Adamsside         11th
2        Joshua Moore   121.0  19.0   Other     Gonzalezland          7th
3   Christopher Smith  1031.5  18.0    Male   Lake Susanport         11th
4     Richard Nichols   970.0  17.0   Other  East Andrewport         12th
..                ...     ...   ...     ...              ...          ...
57      Jeremy Martin  2370.0  14.0    Male      Port Carrie          9th
58     Heather Bailey  2376.0  13.5   Other   Alexandraville         11th
59       Sara Johnson  2503.0  17.0  Female      Michaelfort         11th
60         Amanda Lee  2660.5  17.5    Male      Port Bonnie          9th
61       Steven Brown  2880.0  13.0   Other        New Peter          9th

    Daily_Usage_Hours  Sleep_Hours  Academic_Performance  Social_Interactions  \
0                3.50         4.20                  76.0                  3.5
1                5.35         5.75                  79.0                  4.5
2                5.55         5.05                  71.0                  2.5
3                4.60         5.60                  80.0                  6.0
4                4.70         8.05                  72.0                  3.5
..                ...          ...                   ...                  ...
57               6.80         5.85                  87.0                  8.0
58               5.15         6.25                  71.5                  3.0
59               4.20         7.05                  82.5                  5.5
60               4.40         7.10                  63.0                  2.5
61               9.15         6.45                  82.5                  0.5

    ...  Screen_Time_Before_Bed  Phone_Checks_Per_Day  Apps_Used_Daily  \
0   ...                    1.25                 100.0              7.5
1   ...                    1.70                  98.0             13.0
2   ...                    1.15                 135.0              5.5
3   ...                    1.25                 118.5             13.0
4   ...                    1.10                  75.0             18.0
..  ...                     ...                   ...              ...
57  ...                    0.85                  66.0             13.5
58  ...                    1.00                  76.0             10.5
59  ...                    1.05                  91.0             13.5
60  ...                    1.15                  76.0             14.0
61  ...                    1.20                  67.5             13.0

    Time_on_Social_Media  Time_on_Gaming  Time_on_Education  \
0                   2.35            0.95               1.85
1                   2.45            2.35               0.40
2                   1.60            1.75               1.25
3                   2.85            0.60               0.60
4                   3.75            1.95               0.60
..                   ...             ...                ...
57                  3.05            2.20               0.75
58                  1.60            1.30               1.85
59                  2.05            1.30               0.40
60                  2.65            1.50               1.10
61                  2.75            1.45               1.20

    Phone_Usage_Purpose  Family_Communication  Weekend_Usage_Hours  \
0          Social Media                   7.0                 8.75
1                Gaming                   3.0                 3.95
2                Gaming                   2.5                 8.85
3          Social Media                   8.0                 5.45
4                Gaming                   3.5                 5.70
..                  ...                   ...                  ...
57             Browsing                   8.5                 4.05
58            Education                   2.5                 6.00
59               Gaming                   4.5                 7.55
60            Education                   8.0                 6.30
61               Gaming                   4.0                 6.80

    Addiction_Level
0              8.10
1              9.65
2              8.80
3              9.15
4              9.95
..              ...
57            10.00
58             7.35
59             8.50
60             9.20
61            10.00

[62 rows x 25 columns]

In [29]:
# Step 1: Identify duplicated names
duplicated_names = data["Name"][data["Name"].duplicated(keep=False)].unique()

# Step 2: Remove all rows with duplicated names from the original data
data_no_duplicates = data[~data["Name"].isin(duplicated_names)]

# Step 3: Append the aggregated duplicates
cleaned_data = pd.concat([data_no_duplicates, aggregated_duplicates], ignore_index=True)

# Optional: Sort by name or any column if needed
cleaned_data = cleaned_data.sort_values(by="Name").reset_index(drop=True)

# Final result
print(cleaned_data)

          ID             Name   Age  Gender              Location  \
0      354.0   Aaron Anderson  19.0  Female             Troyburgh
1     2645.0      Aaron Blake  15.0   Other            East Scott
2     2614.0   Aaron Campbell  15.0  Female           Port Sandra
3     1611.0    Aaron Jackson  13.0   Other      New Meganchester
4     1421.0       Aaron Leon  19.0  Female               Bethton
...      ...              ...   ...     ...                   ...
2928   800.0    Zachary Moore  16.0    Male       Lake Emilyhaven
2929    67.0    Zachary Parks  16.0  Female              Bradyton
2930   674.0  Zachary Perkins  18.0    Male           Marqueztown
2931  1563.0    Zachary Ramos  17.0    Male         Patriciamouth
2932   925.0  Zachary Russell  14.0   Other  Port Carolineborough

     School_Grade  Daily_Usage_Hours  Sleep_Hours  Academic_Performance  \
0             8th                7.1          8.7                 100.0
1            11th                3.7          7.2                  66.0
2            12th                4.9          6.7                  61.0
3             9th                6.9          7.6                  53.0
4             9th                6.3          7.9                  76.0
...           ...                ...          ...                   ...
2928          9th                7.8          5.5                  96.0
2929         10th                7.4          6.6                 100.0
2930          9th                6.4          7.3                  84.0
2931         12th                1.7          5.8                  94.0
2932          9th                2.7          5.7                  76.0

      Social_Interactions  ...  Screen_Time_Before_Bed  Phone_Checks_Per_Day  \
0                     1.0  ...                     1.0                  82.0
1                     3.0  ...                     1.4                 141.0
2                    10.0  ...                     1.1                  73.0
3                     8.0  ...                     0.1                  85.0
4                     3.0  ...                     0.7                 140.0
...                   ...  ...                     ...                   ...
2928                  8.0  ...                     1.1                  74.0
2929                  3.0  ...                     1.3                  90.0
2930                  3.0  ...                     0.0                  52.0
2931                  7.0  ...                     1.4                  97.0
2932                  5.0  ...                     1.1                  60.0

      Apps_Used_Daily  Time_on_Social_Media  Time_on_Gaming  \
0                14.0                   2.9             1.6
1                12.0                   4.4             2.9
2                 9.0                   2.0             2.9
3                13.0                   1.5             2.6
4                20.0                   2.8             2.6
...               ...                   ...             ...
2928             18.0                   2.7             3.2
2929             19.0                   2.1             0.8
2930             12.0                   1.0             2.4
2931             14.0                   2.6             0.6
2932             14.0                   0.9             0.6

      Time_on_Education  Phone_Usage_Purpose  Family_Communication  \
0                   1.1            Education                   7.0
1                   2.0             Browsing                   5.0
2                   1.1                Other                   9.0
3                   0.8               Gaming                  10.0
4                   0.0               Gaming                   9.0
...                 ...                  ...                   ...
2928                0.0               Gaming                   6.0
2929                0.6                Other                   9.0
2930                0.0               Gaming                   6.0
2931                1.1             Browsing                   7.0
2932                0.9             Browsing                   9.0

      Weekend_Usage_Hours  Addiction_Level
0                     5.8             10.0
1                     4.1             10.0
2                     2.6              9.7
3                     5.5             10.0
4                     8.4             10.0
...                   ...              ...
2928                  6.8             10.0
2929                  9.3             10.0
2930                  9.2              9.6
2931                  8.1              6.7
2932                  6.1              5.4

[2933 rows x 25 columns]

In [31]:
cleaned_data

,ID,Name,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,...,Screen_Time_Before_Bed,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level
0,354.0,Aaron Anderson,19.0,Female,Troyburgh,8th,7.1,8.7,100.0,1.0,...,1.0,82.0,14.0,2.9,1.6,1.1,Education,7.0,5.8,10.0
1,2645.0,Aaron Blake,15.0,Other,East Scott,11th,3.7,7.2,66.0,3.0,...,1.4,141.0,12.0,4.4,2.9,2.0,Browsing,5.0,4.1,10.0
2,2614.0,Aaron Campbell,15.0,Female,Port Sandra,12th,4.9,6.7,61.0,10.0,...,1.1,73.0,9.0,2.0,2.9,1.1,Other,9.0,2.6,9.7
3,1611.0,Aaron Jackson,13.0,Other,New Meganchester,9th,6.9,7.6,53.0,8.0,...,0.1,85.0,13.0,1.5,2.6,0.8,Gaming,10.0,5.5,10.0
4,1421.0,Aaron Leon,19.0,Female,Bethton,9th,6.3,7.9,76.0,3.0,...,0.7,140.0,20.0,2.8,2.6,0.0,Gaming,9.0,8.4,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2928,800.0,Zachary Moore,16.0,Male,Lake Emilyhaven,9th,7.8,5.5,96.0,8.0,...,1.1,74.0,18.0,2.7,3.2,0.0,Gaming,6.0,6.8,10.0
2929,67.0,Zachary Parks,16.0,Female,Bradyton,10th,7.4,6.6,100.0,3.0,...,1.3,90.0,19.0,2.1,0.8,0.6,Other,9.0,9.3,10.0
2930,674.0,Zachary Perkins,18.0,Male,Marqueztown,9th,6.4,7.3,84.0,3.0,...,0.0,52.0,12.0,1.0,2.4,0.0,Gaming,6.0,9.2,9.6
2931,1563.0,Zachary Ramos,17.0,Male,Patriciamouth,12th,1.7,5.8,94.0,7.0,...,1.4,97.0,14.0,2.6,0.6,1.1,Browsing,7.0,8.1,6.7
2932,925.0,Zachary Russell,14.0,Other,Port Carolineborough,9th,2.7,5.7,76.0,5.0,...,1.1,60.0,14.0,0.9,0.6,0.9,Browsing,9.0,6.1,5.4

In [32]:
cleaned_data.duplicated().sum()

0

In [33]:
data.duplicated().sum()

0

In [35]:
data = cleaned_data

In [36]:
data

,ID,Name,Age,Gender,Location,School_Grade,Daily_Usage_Hours,Sleep_Hours,Academic_Performance,Social_Interactions,...,Screen_Time_Before_Bed,Phone_Checks_Per_Day,Apps_Used_Daily,Time_on_Social_Media,Time_on_Gaming,Time_on_Education,Phone_Usage_Purpose,Family_Communication,Weekend_Usage_Hours,Addiction_Level
0,354.0,Aaron Anderson,19.0,Female,Troyburgh,8th,7.1,8.7,100.0,1.0,...,1.0,82.0,14.0,2.9,1.6,1.1,Education,7.0,5.8,10.0
1,2645.0,Aaron Blake,15.0,Other,East Scott,11th,3.7,7.2,66.0,3.0,...,1.4,141.0,12.0,4.4,2.9,2.0,Browsing,5.0,4.1,10.0
2,2614.0,Aaron Campbell,15.0,Female,Port Sandra,12th,4.9,6.7,61.0,10.0,...,1.1,73.0,9.0,2.0,2.9,1.1,Other,9.0,2.6,9.7
3,1611.0,Aaron Jackson,13.0,Other,New Meganchester,9th,6.9,7.6,53.0,8.0,...,0.1,85.0,13.0,1.5,2.6,0.8,Gaming,10.0,5.5,10.0
4,1421.0,Aaron Leon,19.0,Female,Bethton,9th,6.3,7.9,76.0,3.0,...,0.7,140.0,20.0,2.8,2.6,0.0,Gaming,9.0,8.4,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2928,800.0,Zachary Moore,16.0,Male,Lake Emilyhaven,9th,7.8,5.5,96.0,8.0,...,1.1,74.0,18.0,2.7,3.2,0.0,Gaming,6.0,6.8,10.0
2929,67.0,Zachary Parks,16.0,Female,Bradyton,10th,7.4,6.6,100.0,3.0,...,1.3,90.0,19.0,2.1,0.8,0.6,Other,9.0,9.3,10.0
2930,674.0,Zachary Perkins,18.0,Male,Marqueztown,9th,6.4,7.3,84.0,3.0,...,0.0,52.0,12.0,1.0,2.4,0.0,Gaming,6.0,9.2,9.6
2931,1563.0,Zachary Ramos,17.0,Male,Patriciamouth,12th,1.7,5.8,94.0,7.0,...,1.4,97.0,14.0,2.6,0.6,1.1,Browsing,7.0,8.1,6.7
2932,925.0,Zachary Russell,14.0,Other,Port Carolineborough,9th,2.7,5.7,76.0,5.0,...,1.1,60.0,14.0,0.9,0.6,0.9,Browsing,9.0,6.1,5.4