In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
%matplotlib inline 
warnings.filterwarnings("ignore")

In [7]:
data = pd.read_csv(r"C:\Users\User\Documents\DATA SCIENCE PROJECT\Teen-phone-addiction-dataAnalysis.ipynb")

In [9]:
data.head(5)

                import pandas as pd
0  import matplotlib.pyplot as plt